<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pennapps.calmer" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!--
     To retrieve OAuth 2.0 tokens or invalidate tokens to disconnect a user. This disconnect
     option is required to comply with the Google+ Sign-In developer policies
    -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS" /> <!-- To retrieve the account name (email) as part of sign-in: -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" /> <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".Calmer"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MyTheme" >
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustResize|stateVisible" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegistrationActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
        <activity
            android:name=".MainHomeActivity"
            android:label="Home Page" >
        </activity>
        <activity
            android:name=".UserProfileActivity"
            android:label="User Profile" >
        </activity>
        <activity
            android:name=".ViewCurrentHeartrateActivity"
            android:label="Heart Rate" >
        </activity>
        <activity
            android:name=".CalibrationActivity"
            android:label="Calibration" >
        </activity>

        <service android:name=".MainDataListenerService" >
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.BIND_LISTENER" />
            </intent-filter>
        </service>

        <!--
        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="TZwcUfExXMmc52um2z9ZHqPuACi6QBYYE7rUHatf" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="AQLBUXcT4El6kXDHAh1MUmzrl45wTb2yZ4ltpAR8" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        -->

        <activity
            android:name=".ViewTrendsActivity"
            android:label="@string/title_activity_view_trends" >
        </activity>
        <activity
            android:name=".DataPlotActivity"
            android:label="@string/title_activity_data_plot" >
        </activity>
    </application>

</manifest>
